.font{
    font-size: 12.9px;
}
.ft{
        border-radius: 50%;
        width: 43px;
        height: 43px;
}
.sz{
        border-radius: 50%;
        width: 30px;
        height: 30px;
}
.fot{
    font-size: 13px;
}
.lh{
    line-height: 1px;
}